.wallet {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__balance-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
  }

  &_inactive {
    background-color: var(--main-color-dark);
  }

  &__balance {
    padding: 4rem;
    &__currency {
      font-size: 4rem;
    }

    &__balance {
      font-size: 1.3rem;
      color: rgba($color: #fff, $alpha: 0.7);
    }
  }

  &__input-area {
    color: #fff;
    font-size: 4rem;
    &__input {
      border: none;
      background: transparent;
      outline: none;
      color: #fff;
      font-size: 4rem;
      width: 15rem;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}
